<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Directions to Course Site</h3></div>
    <div class="panel-body">
        <a class="text-left" href="http://aladdintemprite.com/" target="_blank"><img class="img-responsive" src="~/images/SponsorLogo/Aladdin_logo.jpg" /></a>
        <p class="lead">
            Aladdin Temp-Rite is located on the east side of Hendersonville, north side of Main Street (also known as Gallatin Pike or highway 31E) between traffic light 10 and traffic light 11. The manufacturing plant is located behind NTB and Office Depot, across the highway from Burger King and Regions Bank.
            <br />
            The class room and riding range is located in the east parking lot of Aladdin Temp Rite.
            <br />
            <strong>Entrance to vMTS is the shipping/receiving lane next to Pinnacle Bank.</strong>
        </p>
        <a href="http://mapq.st/1TviDGr" target="_blank">Get directions (Mapquest)</a> 
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Course Location Map</h3></div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3215.088146724157!2d-86.60301177749135!3d36.31016923887458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88644737790a3b17%3A0xf89f0d7f0e5e49f6!2s250+E+Main+St%2C+Hendersonville%2C+TN+37075!5e0!3m2!1sen!2sus!4v1449072458131" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pane-footer">
        <address>
            <p class="lead text-success">
                Aladdin Temp-Rite (Shipping and Receiving)<br />
                250 E Main St.<br />
                Hendersonville, TN 37075
            </p>
        </address>
    </div>
</div>

