<h1>@ViewBag.title</h1>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Support</h3></div>
    <div class="panel-body">
        <address class="lead">
            <strong>Program Director:</strong><br /><a href="mailto:steve.barber@comcast.net">Steve Barber</a><br />
            <strong>Registration Director:</strong><br /><a href="mailto:melanie.barber124@gmail.com">Melanie Barber</a><br />
            
            <strong>Phone:</strong><br />
            <a href="tel:+16154143312">615.414.3312</a>
        </address>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">Please Note</h3></div>
    <div class="panel-body">
        <address class="lead text-warning">
            All phone registrations must be accompanied by credit card payment to guarantee a reservation.<br />
            NO REFUNDS will be made, except for cancellations received at least 14 business days in advance of the scheduled class date.
        </address>
    </div>
</div>

@{Html.RenderPartial("_Location");}